1. Print “Hello World”

In [1]:
print("Hello World")

Hello World

2. Create a list called fruit that has Apples, Oranges and Bananas as values.

In [3]:
fruit = ['Apples', 'Oranges', 'Bananas']
fruit

['Apples', 'Oranges', 'Bananas']

3. Print the list.

In [4]:
print(fruit)

['Apples', 'Oranges', 'Bananas']

4. Change Oranges to Grapes using the numeric list index.

In [8]:
fruit[1] = 'Grapes'
fruit

['Apples', 'Grapes', 'Bananas']

5. Create a loop that prints out each item in the fruit list.

In [15]:
for f in fruit:
    print(f)

Apples
Grapes
Bananas

6. Create a dictionary called people that has another dictionary for each Bob (age 22), Carol (age 47) and Justin (age 14) with their name and age.

In [73]:
people = {'bob': {'Bob': 22}, 'carol': {'Carol': 22}, 'justin': {'Justin': 14}}
people['bob']['Bob']

22

7. Create a function that takes two numbers (a and b) and prints the total value when they are added.

In [22]:
def get_sum(a, b):
    print(a + b)

8. Call your function with 5 and 5, 10 and 15 and 3 and 6.

In [25]:
get_sum(5,5)
get_sum(10, 15)
get_sum(3, 6)

10
25
9

9. Create a function that takes user input of an integer and loops through printing that number plus 5 until it reaches 1000.

In [45]:
def five_loop(num):
    for x in range(num, 1000, 5):
        print(x)

10. Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

In [64]:
def fizz_buzz(num):
    for x in range(num, 101):
        if x % 15 == 0: # and x % 3 == 0:
            print('FizzBuzz')
        elif x % 3 == 0:
            print('Fizz')
        elif x % 5 == 0:
            print('Buzz')
        else:
            print (x)

fizz_buzz(90)

FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

11. Create a class called customer that takes the customer name as a variable and is initialized with age, location of Washington and a credit score of 718.

In [100]:
class Customer:
    def f(name):
        cs = 718
        l = 'Washington'
        a = 17
        n = name
        return(name, a, l, cs)

12. Create an object from your customer class with the name of Jessie.

In [99]:
Customer.f('Jessie')

('Jessie', 17, 'Washington', 718)

13. Print the name value of your object.

14. Print the location of your object.

15. Print the credit score of your object.

16. Change the credit score of your object.

17. Print the new credit score of your object.